body, html {/*za snimkata na backgrounda*/
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
	margin: 0;
}
/*.div{
	padding: 32px 32px 32px 32px; ne se znae zashto sme go polzvali
}*/
.my_navbar{/*za da go mrydnem v dqsno*/
	float: right;
	
}
.top{/*zaglavnata liniq*/
	background-color: #185371;
	margin-bottom: 5vh;
}
.title {/*MeNa-ta*/
	color: white;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
}
a.title:hover{
	color: #ebebe0;
}
.btn{/*link butonite*/
	padding-top: 2vh;
	display:inline-block;
}
.floatvane{/*float-right inache*/
	float: right;
}
.link{/*linkchetata gore*/
	font-size: 18px;
	vertical-align: center;
}
a.link:link, a.link:visited{
	color: #cccccc;
	text-decoration: none;
}
a.link:hover, a.link:active{
	color: #ebebe0;
	text-decoration: none;
}
a.active{
	color: #28A745;
	/*color: white; jalko Viko poveche go kefeshe :(
	Pozdravi: Viko*/
	text-decoration: none;
	font-size: 18px;
}
.background{
	background-image: url('2.png'); height: 100%;
  	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*.container{
	max-height: 100%; NE BACKA i ne se znae za kakvo sme go slagali
	align-content: center;
}*/

.card{/*tova e za containera na login formata*/
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	max-height: 60%;/*za da se pobira register formata*/
	background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
	color: white;
}




.input-group-prepend span{/*cvetnickoto otstrani na logina i registera*/
	width: 50px;
	background-color: #28A745;
	color: black;
	border:0 !important;
}
/*da se mahne gadnata sinq liniq okolo inpita kato e cyknat*/
input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;

}
.select-focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;

}

.login_btn{/*cvqt butonche*/
	color: white;
	background-color: #28A745;
	width: 100px;
	
}

.login_btn:hover{
	color: black;
	background-color: white;
}
